button {
  margin: 5px;
}

tr {
  margin: auto;
}

.album-info img {
  display: block;
}

.album-details {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.song-actions {
  display: inline-block;
  padding: inherit;
}

.song-list {
  display: block;
}

.song-number-column {
  display: block;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
