.App {
  text-align: center;
  background-color: #c8e6c9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  background-color: #c8e6c9;
  height: 80px;
}

.App-header {
  background-color: #c8e6c9;
  color: #c8e6c9;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.hero-title {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.landing {
  display: block;
  width: 80%;
}

.point {
  display: block;
  width: 80%;
}

.selling-points {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
